/* Set Default Setting */
    *{
        margin:0;
        padding:0;
        font-family: 'Open Sans';
        box-sizing: border-box;
        --primary:#328051;
        --dark-primary:rgb(22, 78, 38);
        --secondary:rgb(241, 124, 56);
    }
    html{    
      scroll-behavior: smooth;
    }
    @font-face {
        font-family: 'Montserrat';
        src: url('../fonts/Montserrat.ttf');
    }
    @font-face {
        font-family: 'Montserrat';
        font-weight: bold;
        src: url('../fonts/Montserrat-Bold.ttf');
    }
    @font-face {
        font-family: 'Open Sans';
        src: url('../fonts/OpenSans-Regular.ttf');
    }
    @font-face {
        font-family: 'Open Sans';
        font-weight: bold;
        src: url('../fonts/OpenSans-Bold.ttf');
    }
    body{
        background-color: #f2f2f2;
    }
    h1{
        font-family: 'Montserrat';
        font-weight: bold;
    }
    .btn{
        display: flex;
        max-width: 240px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding:10px 40px;
        font-size: 16px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        margin: 20px 0px;
        border:none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .btn-secondary{
        background-color: var(--secondary);
        color:#fff;
    }
    .btn-primary{
        background-color: var(--primary);
        color:#fff;
    }
    .btn-outline{
        background-color: transparent;
        color:rgb(66, 66, 66);
        border:1px solid rgb(66, 66, 66);
    }
    .btn-outline:hover{
        background-color: rgb(66, 66, 66);
        color:#fff;
    }
    .btn-primary:hover{
        background-color: rgb(22, 78, 38);
    }
    .btn-secondary:hover{
        background-color: rgb(241, 99, 56);
    }
    .btn-block{
        display: block;
        width: 100%;
        max-width: 100% !important;
    }
    [class*=bg-primary]{    
        color:#fff;
        background-color:var(--primary);
    }
    [class*=-with-wave]{
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        background-image: url('../images/wave.svg');
    }
    [class*=bg-white]{
        background-color: #fff;
        color:#000;
    }
    .bg-image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2)),url('https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
    }
    .bg-image-2{
        background-repeat: no-repeat;
        background-size: cover;
        background-image:linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2)),url('../images/1722.jpg');
    }
    .center{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .text-white{
        color:#fff;
    }
    .text-primary{
        color: var(--primary);
    }
    .title-section{
        position: relative;
        margin-bottom: 50px;
    }
    .title-section::before{
        content: '';
        height: 100%;
        width: 4px;
        border-radius: 2px;
        background-color: var(--primary);
        left: -30px;
        position: absolute;
    }
    [class*="bg-primary"] .title-section::before{
        background-color: #fff;
    }
    .justify-content-between{
        justify-content: space-between;
    }
    .mb-0{
        margin-bottom: 0px;
    }
    .mb-2{
        margin-bottom: 20px;
    }
    .mr-1{
        margin-right: 10px;
    }
    .w-500{
        max-width: 500px;
    }
    .pt-1{
        padding-top: 10px;
    }
    .pb-1{
        padding-bottom: 10px;
    }
    .pb-3{
        padding-bottom: 50px;
    }
    .pt-3{
        padding-top: 50px;
    }
    .img-rounded{
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 150px;
    }