.card-dashboard{
    display: flex;
    margin:20px;
    flex-direction: column;
    padding:30px;
    border-radius: 50px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.card-dashboard-icon{
    display:flex;
    align-items: center;
    margin-bottom: 30px;
    color: #000;
    font-size: 72px;
    border-radius: 5px;
}
.card-dashboard-text{
    margin-bottom: 20px;
}
.card-dashboard-count{
    font-size: 24px;
    font-weight: bold;
}