.video-highlight{
    position: relative;
    display: block;
    width: 100%;
}
.video-list{
    position: relative;
    display: flex;
    padding:30px;
    width: 100%;
    overflow-x: auto;
}
.video-card{
    position: relative;
    flex: none;
    margin:0 20px;
    width: 320px;
}
.video-thumbnail{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    height: 180px;
}
.video-minutes{
    padding:10px;
    position: absolute;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.8);
}
.video-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-title{
    text-decoration: none;
    color: #fff;
}
.video-play{
    position: absolute;
    top: 65px;
    left: 135px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    font-size: 24px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color:#fff;
    background-color: rgba(32, 32, 32, 0.8);
}

.video-list::-webkit-scrollbar {
    height: 3px;
}
.video-list::-webkit-scrollbar-track {
    background-color: #ccc;
}
.video-list::-webkit-scrollbar-thumb {
    background-color: #fff;
}

.arrow-left-video{
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:none;
    z-index: 1;
    color:var(--primary);
    border-radius: 50px;
    top: 50%;
    left:0;
    background-color: rgba(255,255,255,0.5);
}
.arrow-right-video{
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:none;
    z-index: 1;
    color:var(--primary);
    border-radius: 50px;
    top: 50%;
    right: 0;
    background-color: rgba(255,255,255,0.5);
}
.arrow-left-video:hover{
    background-color: #fff;
}
.arrow-right-video:hover{
    background-color: #fff;
}